header {
    background-color: #ffc75f;
    min-height: 80px;
    color: white;
    border-bottom: 2px solid grey;
}

h1 {
    padding-top: 1rem;
}

svg {
    margin-top: 1rem;
    margin-left: 1rem;
}

svg:hover {
    color: lightgrey;
}
